phi00: TORSION ATOMS=5,7,9,15  
psi00: TORSION ATOMS=7,9,15,17  
theta00: TORSION ATOMS=6,5,7,9
zeta00: TORSION ATOMS=9,15,17,18
       
res-phi00: RESTRAINT ARG=phi00 KAPPA=500 AT=-0.3
res-psi00: RESTRAINT ARG=psi00 KAPPA=500 AT=+0.3
res-theta00: RESTRAINT ARG=theta00 KAPPA=500 AT=+0.3
res-zeta00: RESTRAINT ARG=zeta00 KAPPA=500 AT=+0.3

PRINT STRIDE= ARG=phi00,psi00,theta00,zeta00 FILE=plm.res.out
