p1oh2: DISTANCE ATOMS=1,10
p1o4: DISTANCE ATOMS=1,5
d1: DISTANCE ATOMS=2,11
d2: DISTANCE ATOMS=10,11
asym: CUSTOM ARG=d1,d2 FUNC=y-x PERIODIC=NO

res-p1oh2: RESTRAINT ARG=p1oh2 KAPPA=5000 AT=0.225
res-p1o4: RESTRAINT ARG=p1o4 KAPPA=5000 AT=0.225
res-asym: RESTRAINT ARG=asym KAPPA=5000 AT=-0.06

PRINT STRIDE= ARG=p1oh2,p1o4,asym FILE=plm.res.out
